<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Doctors</li>
        </ol>
      </nav>
      <h1 class="font-weight-normal">Team of Experienced Doctors</h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">

        <div class="row">

          <div *ngFor="let item of selectedDoctor" class="col-md-6 col-lg-4 py-3 wow zoomIn">

            <div class="card-doctor">
              <div class="header">
                <img src="{{PhotoFilePath+item.image_dt}}" alt="">
                <div class="meta">
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-logo-whatsapp"></span></a>
                </div>
              </div>
              <div class="body">

                <a [routerLink]="['/doctor/detail', item.dt_id]">
                  <p class="text-xl mb-0">Dr. {{item.dt_name}}</p>
                </a>
                <div class="row">
                  <div class="col-9">
                    <span class="text-sm text-grey">{{item.specialty_name}}</span>
                  </div>
                  
                  <div class="col-3">
                    <a [routerLink]="[ '/doctor/detail', item.dt_id ]" class="text-sm text-grey"><strong>Make</strong></a>
                  </div>
                </div>


              </div>

            </div>
          </div>



        </div>

      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->